.characters {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  margin-bottom: 50px;
}

.character {
  border: 1px solid #fff;
  border-radius: 10px;
  overflow: hidden;
  font-size: 16px;
  transition: all ease-in-out 0.28s;
}

.character:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.characterIcon {
  width: 100%;
}

.characterInfo {
  padding: 10px;
}

.characterName {
  text-align: center;
  font-size: 22px;
}

.characterInfoItem {
  font-size: 14px;
  font-weight: 300;
}

.characterInfoItem span {
  display: inline-block;
  position: relative;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.8;
}

.alive::after,
.dead::after,
.unknown::after {
  content: "";
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-3px);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.alive::after {
  background: green;
}

.dead::after {
  background: red;
}

.unknown::after {
  background: silver;
}
