* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ol,
li,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background: rgba(12, 15, 12, 1);
  color: #fff;
  font-family: "Noto Sans", sans-serif;
}
